:root {
  --main-font: "Pretendard Variable", "Pretendard", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-family: var(--main-font);
  line-height: 140%;
  background-color: #eeeeee;
  color: #202020;
}

body {
  margin:0;
}

input,
textarea,
button,
select {
  font-family: var(--main-font) !important;
}

input::placeholder,
textarea::placeholder {
  font-family: var(--main-font) !important;
}

.display > * {
  display: block;
  flex-direction: column;
  width: auto;
  margin: 10px;
}
