:root {
  --main-font: "Pretendard Variable", "Pretendard", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  font-family: var(--main-font);
  line-height: 140%;
  background-color: #eeeeee;
  color: #202020;
}

body {
  margin:0;
}

input,
textarea,
button,
select {
  font-family: var(--main-font) !important;
}

input::placeholder,
textarea::placeholder {
  font-family: var(--main-font) !important;
  color: #aaaaaa;
}

.display > * {
  display: block;
  flex-direction: column;
  width: auto;
  margin: 10px;
}


/* 텍스트 드레그 및 선택 금지 */
body,
html,
#root {
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera, and Edge */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-drag: none; /* Chrome/Safari */
  -khtml-user-drag: none; /* Konqueror */
  -moz-user-drag: none; /* Firefox */
  -ms-user-drag: none; /* Internet Explorer/Edge */
}

/* 이미지 드래그 및 선택 금지 */
img {
  -webkit-user-select: none; /* Chrome/Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera, and Edge */
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-drag: none; /* Chrome/Safari */
  -khtml-user-drag: none; /* Konqueror */
  -moz-user-drag: none; /* Firefox */
  -ms-user-drag: none; /* Internet Explorer/Edge */
}

/* tab으로 객체 선택시 파란박스 없애기 */
:focus {
  outline: none;
}